.rodape{
    display: flex;
    background-color: var(--preto);
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
   
    
 
   
}

.rodape h2{
    font-weight: 400;
    color: var(--branco);
    font-size: 18px;
}

